In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("./Data-Science-Job_Listing.csv")

In [14]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Logo,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://media.glassdoor.com/sql/453835/the-ins...,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://media.glassdoor.com/sql/1384674/net-pa...,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://media.glassdoor.com/sql/1953857/hibob-...,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://media.glassdoor.com/sql/8794153/inizio...,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://media.glassdoor.com/sql/27128/covestro...,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        500 non-null    int64
 1   Job Title       500 non-null    object
 2   Company Name    500 non-null    object
 3   Location        500 non-null    object
 4   Salary          438 non-null    object
 5   Date            500 non-null    object
 6   Logo            436 non-null    object
 7   Job Link        500 non-null    object
 8   Company Rating  439 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 35.3+ KB

In [16]:
df.describe()

         Position  Company Rating
count  500.000000      439.000000
mean   250.500000        3.812301
std    144.481833        0.480281
min      1.000000        1.000000
25%    125.750000        3.600000
50%    250.500000        3.800000
75%    375.250000        4.000000
max    500.000000        5.000000

In [17]:
df.columns

Index(['Position', 'Job Title', 'Company Name', 'Location', 'Salary', 'Date',
       'Logo', 'Job Link', 'Company Rating'],
      dtype='object')

In [18]:
df.drop(columns=["Logo"], inplace=True)

In [19]:
df

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6
...,...,...,...,...,...,...,...,...
495,496,Cloud Administrator,GM Financial\n4.0,"Arlington, TX",NaN,25d,https://www.glassdoor.com/partner/jobListing.h...,4.0
496,497,Robotics Engineer (AI),Alpha Net Consulting,United States,$44.12 - $70.00 Per Hour (Employer est.),4d,https://www.glassdoor.com/partner/jobListing.h...,NaN
497,498,Tchr of English- Newark School of Data Science...,Newark Board of Education\n3.3,"Newark, NJ",$62K - $107K (Employer est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.3
498,499,Statistician,Sciome LLC,"Research Triangle Park, NC",$33.00 - $39.00 Per Hour (Employer est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,NaN
499,500,Quantitative Analytics Manager - Data Modeling...,Freddie Mac\n3.6,"McLean, VA",$140K - $210K (Employer est.),5d,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [20]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [21]:
df.notna().sum()

Position          500
Job Title         500
Company Name      500
Location          500
Salary            438
Date              500
Job Link          500
Company Rating    439
dtype: int64

In [29]:
df.shape

(500, 8)

In [22]:
df_cleaned = df.dropna(axis=1, how="all")

In [28]:
df_cleaned.shape

(500, 8)

In [27]:
df_cleaned.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [30]:
df.isna().sum()

Position           0
Job Title          0
Company Name       0
Location           0
Salary            62
Date               0
Job Link           0
Company Rating    61
dtype: int64

In [31]:
# removing rows with missing value
df.dropna(axis=0, inplace=True)

In [32]:
df.isna().sum()

Position          0
Job Title         0
Company Name      0
Location          0
Salary            0
Date              0
Job Link          0
Company Rating    0
dtype: int64

In [34]:
df.shape

(392, 8)

In [35]:
df.columns

Index(['Position', 'Job Title', 'Company Name', 'Location', 'Salary', 'Date',
       'Job Link', 'Company Rating'],
      dtype='object')

In [36]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [37]:
import re

In [39]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center\n2.7,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.\n3.4","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust\n4.2,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage\n3.6,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro\n3.6,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [40]:
# clean and standardize comapny name
def clean_company_name(company_name):
    return company_name.split('\n')[0].strip()

In [41]:
# apply cleaning function to 'Company Name' column
df['Company Name'] = df['Company Name'].apply(clean_company_name)

In [42]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating
0,1,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7
1,2,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4
2,3,Senior Data Product Manager,ProviderTrust,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2
3,4,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6
4,5,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6

In [43]:
# standarsize salary range
def standardize_salary_range(salary_str):
    pattern = r'\$(\d+)K - \$(\d+)K'
    match = re.match(pattern, salary_str)
    if match:
        min_salary = int(match.group(1)) * 1000
        max_salary = int(match.group(2)) * 1000
        return min_salary, max_salary
    else:
        return None, None

In [44]:
# apply standardization function to "Salary" column
df['Min Salary'], df["Max Salary"] = zip(*df["Salary"].apply(standardize_salary_range))

In [45]:
df.head()

,Position,Job Title,Company Name,Location,Salary,Date,Job Link,Company Rating,Min Salary,Max Salary
0,1,Associate Stop Loss Underwriter,The Insurance Center,"Onalaska, WI",$57K - $84K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,2.7,57000.0,84000.0
1,2,Manager of Data Science,"Nuvative, Inc.","Wichita, KS",$106K - $157K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.4,106000.0,157000.0
2,3,Senior Data Product Manager,ProviderTrust,"Nashville, TN",$105K - $141K (Glassdoor est.),11d,https://www.glassdoor.com/partner/jobListing.h...,4.2,105000.0,141000.0
3,4,Oncology Nurse Navigator,Inizio Engage,"Portland, OR",$90K - $113K (Employer est.),1d,https://www.glassdoor.com/partner/jobListing.h...,3.6,90000.0,113000.0
4,5,Head of Artificial Intelligence – Americas Region,Covestro,"Pittsburgh, PA",$89K - $148K (Glassdoor est.),30d+,https://www.glassdoor.com/partner/jobListing.h...,3.6,89000.0,148000.0

In [46]:
df.drop(columns=['Salary'], inplace=True)

In [47]:
df.columns

Index(['Position', 'Job Title', 'Company Name', 'Location', 'Date', 'Job Link',
       'Company Rating', 'Min Salary', 'Max Salary'],
      dtype='object')

In [48]:
df[df.duplicated].count

<bound method DataFrame.count of Empty DataFrame
Columns: [Position, Job Title, Company Name, Location, Date, Job Link, Company Rating, Min Salary, Max Salary]
Index: []>

In [49]:
df[df.duplicated]

Empty DataFrame
Columns: [Position, Job Title, Company Name, Location, Date, Job Link, Company Rating, Min Salary, Max Salary]
Index: []

In [50]:
##### job listing by location #####
location_counts = df["Location"].value_counts()

In [51]:
print(location_counts)

Location
Riverwoods, IL    31
Remote            22
New York, NY      21
McLean, VA        13
Seattle, WA       10
                  ..
Rensselaer, NY     1
Arlington, VA      1
Madison, WI        1
Franklin, TN       1
Bethesda, MD       1
Name: count, Length: 133, dtype: int64

In [52]:
# find most common job title
count_job_titles = df["Job Title"].value_counts()

In [53]:
print(count_job_titles)

Job Title
Data Scientist                                                                            23
Senior Data Scientist                                                                     10
Senior Manager Data Science                                                                8
Principal Data Science                                                                     8
Field Data Collector (PPC)                                                                 7
                                                                                          ..
Postdoctoral Scientist - Data Science (Digital Measurement)                                1
Sr Engineer (Data Science)                                                                 1
Quantitative Analytics Senior - Climate Risk (Hybrid - 3 Days in Office)                   1
Data Scientist - Analytics                                                                 1
Tchr of English- Newark School of Data Science and Information Technology 24-25 (NBOE)     1
Name: count, Length: 226, dtype: int64

In [54]:
# top 10 job titles
count_job_titles.head(10)

Job Title
Data Scientist                                              23
Senior Data Scientist                                       10
Senior Manager Data Science                                  8
Principal Data Science                                       8
Field Data Collector (PPC)                                   7
Data Engineer (PO)                                           5
Senior Data Science Analyst                                  5
Engineer, Generative AI                                      5
Data Analyst                                                 5
Data Scientist - Secureworks - Atlanta, GA or Remote, US     4
Name: count, dtype: int64

In [56]:
df.columns

Index(['Position', 'Job Title', 'Company Name', 'Location', 'Date', 'Job Link',
       'Company Rating', 'Min Salary', 'Max Salary'],
      dtype='object')

In [61]:
salary_title_location_subset = df.loc[:, ["Job Title", "Location", "Min Salary", "Max Salary"]]

In [66]:
salary_title_location_subset.sort_values(by="Min Salary", ascending=True).head(10)

,Job Title,Location,Min Salary,Max Salary
23,Junior Game Mathematician,"Vernon Hills, IL",37000.0,55000.0
266,Business Intelligence Analyst,Remote,50000.0,60000.0
142,Rapid Deployment Representative,"Chicago, IL",51000.0,80000.0
280,"Medical Science Liaison, Endocrinology/Rare Di...","Dallas, TX",51000.0,95000.0
429,"Medical Science Liaison, Endocrinology/Rare Di...","Dallas, TX",51000.0,95000.0
377,"Senior Analyst, eCommerce Search","Radnor, PA",51000.0,78000.0
49,Statistician,"Fort Worth, TX",52000.0,82000.0
462,Financial Crimes Compliance Model Analyst - Re...,"Miami Lakes, FL",52000.0,78000.0
282,Financial Crimes Compliance Model Analyst - Re...,"Miami Lakes, FL",52000.0,78000.0
127,Health edge Consultant,"Hartford, CT",53000.0,77000.0

In [72]:
salary_title_location_subset.sort_values(by="Max Salary", ascending=False).head(10)

,Job Title,Location,Min Salary,Max Salary
155,"Reliability, Availability and Serviceability E...","Santa Clara, CA",188000.0,357000.0
216,"Reliability, Availability and Serviceability E...","Santa Clara, CA",188000.0,357000.0
424,"Reliability, Availability and Serviceability E...","Santa Clara, CA",188000.0,357000.0
302,"Reliability, Availability and Serviceability E...","Santa Clara, CA",188000.0,357000.0
115,Senior AI-HPC Storage Engineer,"Santa Clara, CA",180000.0,339000.0
427,Senior AI-HPC Storage Engineer,"Santa Clara, CA",180000.0,339000.0
245,"Senior Performance Software Engineer, Deep Lea...","Santa Clara, CA",180000.0,339000.0
251,Senior AI-HPC Storage Engineer,"Santa Clara, CA",180000.0,339000.0
87,"Senior Performance Software Engineer, Deep Lea...","Santa Clara, CA",180000.0,339000.0
464,Climate Risk Quantitative Analytics Director (...,"McLean, VA",212000.0,318000.0

In [74]:
salary_stats = df.groupby(['Job Title', 'Location']).agg({
    'Min Salary': 'mean',
    'Max Salary': 'mean',
    'Min Salary': 'min',
    'Max Salary': 'max'
})

In [76]:
# displaying salary statistics for different job titles and locations
print("Salary ranges from differnet job titles and locations: ")
print(salary_stats)

Salary ranges from differnet job titles and locations:
                                                                           Min Salary  \
Job Title                                          Location
AI Integration Specialist                          Las Vegas, NV              54000.0
AI/ML Subject Matter Expert                        Springfield, VA           165000.0
AVP, IT SOX Manager                                Stamford, CT               75000.0
Advisor, Data Science & Analytics                  New York, NY              109000.0
Analytical Flavor Chemist                          Tustin, CA                 65000.0
...                                                                               ...
Technical Consultant (Advanced Visualization an... Alpharetta, GA             57000.0
Training Department Supervisor                     Palm Beach Gardens, FL     60000.0
VP, Portfolio Management Data Science              New York, NY              117000.0
Vice President, Analytics Products                 Remote                    200000.0
Vice President, Data Science                       Remote                    220000.0

                                                                           Max Salary
Job Title                                          Location
AI Integration Specialist                          Las Vegas, NV              87000.0
AI/ML Subject Matter Expert                        Springfield, VA           175000.0
AVP, IT SOX Manager                                Stamford, CT              130000.0
Advisor, Data Science & Analytics                  New York, NY              185000.0
Analytical Flavor Chemist                          Tustin, CA                 80000.0
...                                                                               ...
Technical Consultant (Advanced Visualization an... Alpharetta, GA             98000.0
Training Department Supervisor                     Palm Beach Gardens, FL     65000.0
VP, Portfolio Management Data Science              New York, NY              165000.0
Vice President, Analytics Products                 Remote                    260000.0
Vice President, Data Science                       Remote                    283000.0

[259 rows x 2 columns]

In [78]:
salary_stats.to_csv("salary_stats.csv", index=False)

print(f"Data has been successfully written to salary_stats.csv file")

Data has been successfully written to salary_stats.csv file